.candidate-Box {
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #E5E7ED;
    border-radius: 12px;
    margin-top: 11px;
    margin-left: 10px;
  }
  
.candidate-Paper{
    height: 68px;
    width: 330px;
    background-color: #F7F8FA;
}

.unset-Icon-Style {
    height: unset !important;
    width: unset !important;
}
.mail-labels {
    /* font-family: 'Inter'; */
    /* font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px; */
    color: #0A0B0D;
}
.mail-values {
    /* font-family: 'Inter'; */
    /* font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize; */
    color: #696A6E;
}
.mail-body-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #696A6E;
}
.mail-body-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #696A6E;
}
.mail-input {
    width: 64px !important;
    padding: 0px !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    /* padding: 8px 16px !important; */

}
.mail-footer {
    /* padding-right: 10px;
    padding-left: 16px;
    padding-top: 12px; */
    padding: 0px !important;
    text-align: center !important;
}
.p-b-10 {
    padding-bottom: 10px;
}
.p-t-10 {
    padding-top: 10px;
}
.p-b-50 {
    padding-bottom: 50px;
}